# --- VSO Test config ---
# Created by: /home/synopsys/vcs/W-2024.09-SP2/cso/linux64/main/driver --gencfg --gencfg_out
# /mnt/PCDA_share/DV/DV-Class2-2025Sept02-Oct03/uvm/SDRAM_CONTROLLER/sim/vso.cfg
# --target_metric tgl.inst,tgl.def --workdir
# /mnt/PCDA_share/DV/DV-Class2-2025Sept02-Oct03/uvm/SDRAM_CONTROLLER/sim/new_vso1
# Created at: 2025-10-29 17:03:16.009898
#


config_name: vso_test_cfg

env:
   - VCS_HOME
   - VSO_HOME
   # This is temporary to support old version of VCS that only support CSO_HOME
   - CSO_HOME

variables:
   - vcs: $VCS_HOME/bin/vcs
   - current_dir: $PWD
   - common_opts: ""

builds:

   - name: new1
     simv_location: ./simv


tests:
   - name: master_basic_test_2
     count: 1
     build: new1
     arguments: "+UVM_TESTNAME=master_basic_test +ntb_random_seed=$${EMAN_RANDOM} -assert report
                -assert verbose -cm assert -l sim_master_basic_test_2.log -cm
                line+cond+fsm+tgl+branch -cm_name master_basic_test_2_$${EMAN_RANDOM} -vso cso
                -vso_opts testname=master_basic_test_2 buildname=new1
                ${common_opts}"
